.todo{
    background-color: #5e5d5e;;
    color: white;
    width: 225px;
}
.doing{
    background-color: #332c71;
    width: 225px;
}
.completed{
    background-color: #0e032b;
    width: 225px;
}

.todos_box{
    /* height: 190px; */
    width: auto;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    color: white !important;
}
.todos_wrap{
    overflow-x: scroll;
}
.todos_box h4{
    text-align: center;
    border-bottom: 1px solid;
}