body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.install-dialog{
  background-color: white;
    border-radius: 15px;
    min-height: 40vh;
    width: 62%;
    margin: auto;
    position: absolute;
    padding: 21px 20px;
    left: 14%;
    top: 25%;
    box-shadow: 1px 1px 10px 0px #1b1a29;
  display: none;
}