.img_wrapper{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 34%;
    height: 180px;
    float: right;
}
.detail_wrapper{
    width: 66%;
    float: left;
}
.card_e{
    width: 100%;
    height: auto;
    display: inline-block;
    background: white;
    border: 1px solid #c1bfb9;
    border-radius: 2px;
    margin-bottom: 7px;
}
body.dark-mode .card_e{
   
    background: black;
    border: 1px solid #545454;
    margin-bottom: 7px;
}
body.dark-mode .dropdown-menu{
    background-color: black;
    color: blanchedalmond;
}